html, body {
    background-color: #F2F2F2;
}

header {
    position: fixed;
    width: 100%;
    height: 89px;
    left: 0;
    top: 0;
    background-color: #404EED;
    z-index: 1;
}

strong {
    font-weight: bold;
}

h3 {
    margin-top: 31px;
}

p {
    margin-top: 9px;
}

input {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 9px;
    width: 396px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

button {
    color: #FFFFFF;
    margin-top: 23px;
    width: 398px;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 10px;
}

header > img {
    margin-top: 15px;
}

.container {
    height: 730px;
    display: flex;
    margin-top: 89px;
    background-color: #FFFFFF;
}

.interface {
    width: 50%;
    margin-left: 10%;
}

.ilustracao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404EED;
    width: 50%;
    overflow: hidden;
}

.ilustracao > img {
    height: 80%;
}

.ultimos-pedidos {
    height: 230px;
    margin-left: 121px;
}

.modelo, .gola, .tecido {
    width: 390px;
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    margin-right: 20px;
}

.opcao {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-arredondada {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #F2F2F2;
    border-radius: 50%;
}

.div-arredondada > img {
    width: 80px;
    height: 80px;
    object-fit: scale-down;
}

.imagem-referencia, .pedido{
    display: flex;
    flex-direction: column;
}

.selecionado {
    border: 2px solid #404EED;
}

.botao-selecionado {
    background-color: #404EED;
}

.ultimos-pedidos h3 {
    margin-bottom: 15px;
    font-size: 24px;
}

.pedidos {
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.pedido {
    width: 201px;
    height: 236px;
    background-color: #FFFFFF;
    margin-right: 16px;
    border-radius: 10px;
}

.pedido img {
    width: 180px;
    height: 180px;
    object-fit: none;
}